<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.white.bihudaily"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.BihuDailyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TestDayAndNight">
        <activity
            android:name=".module.splash.SplashActivity"
            android:theme="@style/AppTheme.OverlapSystemBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.dailys.DailyActivity">
        </activity>
        <activity android:name=".module.detail.DetailActivity">
        </activity>
        <activity android:name=".module.detail.ThemeDetailActivity">
        </activity>
        <activity android:name=".module.editor.EditorActivity">
        </activity>
        <activity android:name=".module.comment.CommentActivity">
        </activity>
        <activity android:name=".module.mystar.MyStarActivity">
        </activity>
        <activity android:name=".module.editor.EditorInfoActivity">
        </activity>
        <activity android:name=".module.login.LoginActivity">
        </activity>
        <activity android:name=".module.bigimage.ImageViewActivity">
        </activity>
        <activity android:name=".module.settings.SettingActivity">
        </activity>

    </application>

</manifest>